<section class="content-header bread">
    <ol class="breadcrumb">
        <li class="active" ui-sref="sdn_home">FLow Management</li>
        <li>Flows</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Flows</h3>

                        <span style="float:right;">
                            <a title="Add flow" ui-sref="sdn_add_flow"> <i class="fa fa-plus"></i> </a>

                            &nbsp;&nbsp;&nbsp;

                            Show
                            <select ng-model="itemperpage" ng-change="switch_post()">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>

                            <input type="text"  ng-model="searchText">
                            <button type="button" class="btn btn-default btn-sm" title="Search"
                                    ng-click="switch_post()">
                                <i class="fa fa-search"></i>
                            </button>
                            </span>

                </div>

                <div class="box-body">


                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Command</th>
                            <th>out_group</th>
                            <th>Type</th>
                            <th>out_port</th>
                            <th>Idle Timeout</th>
                            <th>OFPMatch</th>
                            <th ng-if="role=='1'">Action</th>
                        </tr>
                        <tr
                                dir-paginate="k in switch_info['rows']  | itemsPerPage: itemperpage | filter:searchText track by $index"
                                total-items=950
                                current-page="sw_pagination.current"
                                pagination-id="switch_paginations">

                            <td>{{$index+1}}</td>
                            <td>{{k.value.data.OFPFlowMod.command}}</td>
                            <td>{{k.value.data.OFPFlowMod.out_group}}</td>
                            <td>{{k.value.data.OFPFlowMod.match.OFPMatch.type}}</td>
                            <td>{{k.value.data.OFPFlowMod.out_port}}</td>
                            <td>{{k.value.data.OFPFlowMod.idle_timeout}}</td>
                            <td>{{k.value.data.OFPFlowMod.match.OFPMatch}}</td>
                            <td ng-if="role=='1'"><span ng-click="flow_delete(k.value._id,k.value._rev)">
                                <i class="fa fa-fw fa-remove" style="cursor:pointer;"></i></span>
                                <a ui-sref="sdn_edit_flow({id:k.id})"><i class="fa fa-fw fa-edit" style="cursor:pointer;"></i></span></a>
                            </td>
                        </tr>

                        </tbody>
                    </table>


                </div>
                <div class="box-footer clearfix">

                    <dir-pagination-controls
                            boundary-links="true"
                            on-page-change="sw_pageChanged(newPageNumber)"
                            pagination-id="switch_paginations"
                            template-url="factory/dirPagination.tpl.html">
                    </dir-pagination-controls>


                </div>
            </div>
        </div>
    </div>
</section>
